@media (max-width: 768px) {
    .mx-8-md {
        padding: 0px 10px 0px 100px; //top right bottom left
        
        .content {
            margin-top: 200px;
        }
    }
}

@media (min-width: 768px) {
    .mx-8-md {
        .content {
            h1 {
                font-size: 65px;
            }
        }
    }
}